/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.lock

/node_modules

# Ignore source maps in builds directory
app/assets/builds/**/*.map

# rspec failure tracking
.rspec_status
