<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(
    field.attribute,
    options_for_select(field.select_options, field.selected),
    {include_blank: field.include_blank_option},
    data: {controller: field.html_controller}
  ) %>
</div>
