
button {
  .show-when-disabled {
    display: none;
  }

  .show-when-enabled {
    display: initial;
  }

  &:disabled .show-when-disabled {
    display: initial;
  }

  &:disabled .show-when-enabled {
    display: none;
  }
}

.button {
  background-color: $skyblue;

  &:hover {
    background-color: mix($white, $skyblue, 40%);
  }

  &:disabled {
    &:hover {
      background-color: $skyblue;
    }
  }
}

.button.button--info,
.import-link-button .button.btn-info,
.button.add_fields {
  color: $skyblue;
  border: 1px solid $skyblue;
  background-color: $white;
  transition: all $base-duration $base-timing;

  &:hover {
    color: mix($white, $skyblue, 40%);
    border-color: mix($white, $skyblue, 40%);
    background-color: $white;
  }
}

.button.button--cancel {
  color: mix($black, $white, 50%);
  background-color: mix($black, $white, 5%);
  border: $base-border;
  transition: all $base-duration $base-timing;

  &:hover {
    color: mix($black, $white, 50%);
    background-color: mix($black, $white, 5%);
    border-color: mix($black, $base-border-color, 20%);
  }
}

.button.button--normal {
  color: mix($black, $white, 50%);
  background-color: mix($black, $white, 5%);
  border: $base-border;

  &:hover {
    color: mix($black, $white, 50%);
    background-color: mix($black, $white, 5%);
    border-color: mix($black, $base-border-color, 20%);
  }
}

.import-link-button .button.btn-danger {
  color: $red;
  border: 1px solid $red;
  background-color: $white;
  transition: all $base-duration $base-timing;

  &:hover {
    color: mix($white, $red, 40%);
    border-color: mix($white, $red, 40%);
    background-color: $white;
  }
}

.button.button--update {
  background-color: $orange;

  &:hover {
    background-color: mix($white, $orange, 40%);
  }

  &:disabled {
    &:hover {
      background-color: $orange;
    }
  }
}

.button.button--search {
  background-color: $skyblue;

  &:hover {
    background-color: mix($white, $skyblue, 40%);
  }

  &:disabled {
    &:hover {
      background-color: $skyblue;
    }
  }
}

.button.button--danger {
  background-color: $red;

  &:hover {
    background-color: mix($white, $red, 40%);
  }

  &:disabled {
    &:hover {
      background-color: $red;
    }
  }
}

.action-edit.button,
.action-destroy.button {
  padding: 0.5em 1.5em;
  font-weight: 500;
}

input[type=submit].button.button--update,
input[type=submit].button.button--danger {
  width: 100%;
  max-width: 50rem;
  margin-top: 2.5em;
  height: 4em;
}
